.no-padding {
  padding-left: 0;
  padding-right: 0;
}

body, html {
    height: 100%;
}
.backimage { 
    /* The image used */
    background-image: url("../images/product-hardware.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -100;
    position: fixed;
}  